@import "./mixin/line-limit";

@media (min-width:1200px) and (max-width:1399px) {

  // common part start
  h1 {
    font-size: 27px;
  }

  h2 {
    font-size: 26px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 21px;
  }

  p {
    font-size: 19px;
  }

  // common part end

  // header part start
  header {
    padding: 14px 0;
  }

  header .logo img {
    width: 220px !important;
  }

  // header part end

  // navbar part start
  nav .navbar-nav .nav-item {
    margin: 0 7px;
  }

  nav .navbar-nav .nav-item .nav-link {
    font-size: 19px !important;
  }

  nav .navbar-nav .nav-item .mega-menu .left-menu ul li a {
    font-size: 19px;
  }

  // navbar part end

  // left content part start
  .left-image-right-text-widget .text p {
    @include line-limit(3)
  }

  .comments-widget-item .small-news-widget:nth-child(n+4) {
    display: none;
  }

  // left content part end

  // right sidebar part start
  .tab-widget .top-menu .nav-link {
    font-size: 21px;
  }

  .tab-widget .footer-btn a {
    font-size: 21px;
  }

  // right sidebar part end

  // footer part start
  footer .footer-bg .left-info .footer-menu ul li a {
    font-size: 19px;
  }

  // footer part end

  // news details page start
  .news-details-block .news-details-main-title h1 {
    font-size: 38px;
  }

  .news-details-block .news-details-left-sidebar .main-info ul li p {
    font-size: 20px;
  }

  .news-details-block .news-details-middle-info p {
    font-size: 20px;
    line-height: 27px;
  }

  // news details page end

}

@media (min-width:992px) and (max-width:1199.98px) {

  // common part start
  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 18px;
    line-height: 22px !important;
  }

  p {
    font-size: 17px;
    line-height: 22px;
  }

  // common part end

  // header part start
  header {
    padding: 10px 0;
  }

  header .logo img {
    width: 200px !important;
  }

  // header part end

  // navbar part start
  nav.shadow-lg {
    top: 0;
    padding-top: 40px !important;
  }

  .navbar-brand {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
  }

  nav .navbar-nav .nav-item {
    margin: 0 10px;
  }

  nav .navbar-nav .nav-item .nav-link {
    font-size: 18px !important;
  }

  nav .navbar-nav .nav-item .mega-menu .left-menu ul li a {
    font-size: 18px;
  }

  // navbar part end

  // left content part start
  .left-image-right-text-widget .text p {
    @include line-limit(3)
  }

  .top-image-btm-text-bg-widget .text {
    min-height: 95px;
  }

  .comments-widget-item .small-news-widget:nth-child(n+4) {
    display: none;
  }

  .image-width-multiple-text ul {
    min-height: 191px;
  }

  .play-for-sm i {
    font-size: 8px;
    width: 25px;
    height: 25px;
    line-height: 19px;
    border: 3px solid #fff;
  }

  .play-for-big i {
    font-size: 15px;
    width: 42px;
    height: 42px;
    line-height: 32px;
  }

  // left content part end

  // right sidebar part start
  .tab-widget .top-menu .nav-link {
    font-size: 18px;
  }

  .tab-widget .footer-btn a {
    font-size: 18px;
  }

  .e-paper-widget {
    height: 170px;
  }

  // right sidebar part end

  // footer part start
  footer .footer-bg .right-info .store-logo img {
    width: 105px;
  }

  footer .footer-bg .left-info .footer-menu ul li a {
    font-size: 18px;
  }

  footer .footer-bg .footer-address p {
    font-size: 19px;
  }

  footer .footer-bg .developed p {
    font-size: 14px;
  }

  footer .footer-bg .footer-address ul li a.mail {
    font-size: 15px;
  }

  // footer part end

  // news details page start
  .news-details-block .news-details-main-title h1 {
    font-size: 32px;
  }

  .news-details-block .news-details-left-sidebar .main-info ul li p {
    font-size: 20px;
  }

  .news-details-block .news-details-middle-info p {
    font-size: 18px;
    line-height: 27px;
  }

  .fb_iframe_widget_fluid_desktop,
  .fb_iframe_widget_fluid_desktop span,
  .fb_iframe_widget_fluid_desktop iframe {
    max-width: unset !important;
  }

  // news details page end
}

@media (min-width:768px) and (max-width:991.98px) {

  // navbar part start
  header {
    padding: 10px 0;
  }

  // navbar part end
  // news details page start
  .news-details-block .news-details-main-title h1 {
    font-size: 34px;
  }

  .protibedok .prokash {
    margin-bottom: 20px;
  }

  .news-details-block .news-details-left-sidebar .main-info {
    margin-bottom: 24px;
  }

  .news-details-related-news {
    .news-details-related-news-item {
      margin-bottom: 24px;
    }
  }

  // news details page end
}

@media (max-width:991.98px) {

  // common part start
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 24px;
    font-weight: 500;
    color: #ffffff;
  }

  h4 {
    font-size: 22px;
  }

  // common part end
  header .right-info .shortcut-btn {
    margin-top: 0;
  }

  .left-text-right-image-widget {
    .text {
      margin-bottom: 24px;
    }
  }

  .top-image-btm-text-widget {
    margin-bottom: 24px;
  }

  .small-news-widget {
    .text {
      margin-top: 8px;
    }
  }


  .e-paper-widget {
    height: 347px;
  }

  .only-title-and-des-widget {
    margin-bottom: 24px;
  }

  .top-image-btm-text-bg-widget {
    margin-bottom: 20px;
  }

  .top-image-btm-text-bg-widget .text {
    min-height: 110px;
  }

  .tab-widget .content-body {
    max-height: 400px;
  }

  .small-iframe-widget {
    height: 130px;
  }

  .video-widget-with-slider {
    margin-top: 62px;
  }

  .left-image-right-text-widget .image {
    margin-bottom: 14px;
  }

  .image-width-multiple-text ul {
    min-height: auto;
  }

  .left-image-right-text-with-bg-widget .image {
    margin-bottom: 10px;
  }

  .image-background-slider .image-slider-title {
    margin-bottom: 18px;
  }

  .image-background-slider .icon.right {
    right: 8px;
  }

  .image-background-slider .icon.left {
    left: 8px;
  }

  .news-image-with-overlay-title {
    margin-bottom: 20px !important;
  }

  // footer part start
  footer {
    padding-top: 40px;
  }

  footer .footer-bg .left-info .footer-menu ul li {
    width: 50%;
  }

  footer .footer-bg .editor .text {
    width: 100%;
  }

  footer .footer-bg .editor .text {
    margin-bottom: 15px;
  }

  footer .footer-bg .editor {
    margin-top: 10px;
  }

  footer .footer-bg .right-info {
    padding: 20px;
  }

  footer .footer-bg .developed ul {
    margin-bottom: 18px;
    margin-top: 18px;
  }

  // footer part end
}

@media (min-width:768px) and (max-width:991.98px) {
  .e-paper-widget {
    height: 239px;
  }

  .media-widget-with-bg {
    margin-top: 0;
  }

  .video-widget-with-slider {
    margin-top: 0;
  }

  .image-width-multiple-text ul {
    min-height: 198px;
    border-radius: 5px;
    padding-top: 5px;
    margin-top: -20px;
  }

  header .right-info .shortcut-btn {
    margin-top: 14px;
  }
}

@media (min-width:576px) and (max-width:767.98px) {
  .top-image-btm-text-bg-widget .text {
    min-height: auto;
  }

  // news details page start
  .news-details-block .news-details-main-title h1 {
    font-size: 34px;
  }

  .protibedok .prokash {
    margin-bottom: 20px;
  }

  .news-details-block .news-details-left-sidebar .main-info {
    margin-bottom: 24px;
  }

  .news-details-related-news {
    .news-details-related-news-item {
      margin-bottom: 24px;
    }
  }

  .news-details-block .news-details-middle-info p {
    font-size: 21px;
    line-height: 29px;
  }

  .fb_iframe_widget_fluid_desktop,
  .fb_iframe_widget_fluid_desktop span,
  .fb_iframe_widget_fluid_desktop iframe {
    max-width: unset !important;
  }

  // news details page end
}

@media (max-width:575.98px) {
  h4 {
    font-size: 22px;
  }

  .e-paper-widget {
    height: 275px;
  }

  // news details page start
  .news-details-block .news-details-main-title h1 {
    font-size: 24px;
  }

  .share-icon .icons a {
    margin-left: 0;
    margin-right: 4px;
  }

  .protibedok .prokash {
    margin-bottom: 20px;
  }

  .news-details-block .news-details-left-sidebar .main-info {
    margin-bottom: 24px;
  }

  .news-details-block .news-details-left-sidebar .main-info ul li p {
    font-size: 22px;
  }

  .news-details-related-news {
    .news-details-related-news-item {
      margin-bottom: 24px;
    }
  }

  .news-details-block .news-details-middle-info p {
    font-size: 19px;
    line-height: 24px;
  }

  .news-details-block .news-details-middle-info .follow-google-news a {
    font-size: 19px;
    color: rgb(119, 119, 218);
  }

  .fb_iframe_widget_fluid_desktop,
  .fb_iframe_widget_fluid_desktop span,
  .fb_iframe_widget_fluid_desktop iframe {
    max-width: unset !important;
  }

  .news-details-block .news-details-middle-info .news-category-btn a {
    font-size: 20px;
  }

  .fb_iframe_widget_fluid_desktop,
  .fb_iframe_widget_fluid_desktop span,
  .fb_iframe_widget_fluid_desktop iframe {
    max-width: unset !important;
    overflow-x: scroll !important;
  }

  // news details page end
}