@import "../variable/variable";
@import "../mixin/font";


.navbar {
  padding: 0;
}

.navbar-nav .nav-link {
  padding: 0 !important;
}


nav {
  background-color: $white;
  position: relative;
  z-index: 999;

  .navbar-nav {
    width: 100%;


    .nav-item {
      .nav-link {
        @include font(19px, 500);
        color: $black;
        margin: 0 24px;
      }

      .navbar_logo {
        margin: 0 50px;
      }

      .login_btn {
        border: 2px solid $primary;
        padding: 8px 50px;
        border-radius: 30px;
        @include font(20px, 400);
        color: $primary;
        transition: all linear .2s;

        &:hover {
          background-color: $primary;
          color: $white;
        }
      }

      &:first-child {
        .nav-link {
          margin-left: 0;
        }
      }
    }
  }
}


.sticky-top {
  top: -100px;
  transition: .5s;
}

// mobile menu part

.mobile-topbar {
  width: 100%;
  background-color: $white;
  padding: 10px 0;

  .bars {
    i {
      width: 40px;
      height: 40px;
      background-color: $primary;
      color: $white;
      font-size: 20px;
      text-align: center;
      line-height: 40px;
      border-radius: 3px;
      cursor: pointer;
    }
  }
}

.mobile-menu {
  z-index: 999;
  background-color: $white;
  width: 100%;
  transition: all linear .2s;


  .mobile-topbar {
    .icon {
      i {

        width: 45px;
        height: 45px;
        background-color: $white;
        border-radius: 50%;
        text-align: center;
        line-height: 45px;
        font-size: 16px;
        cursor: pointer;
        transition: all linear .2s;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

        &:hover {
          background-color: $primary;
          color: $white;
          border-color: $primary
        }
      }
    }
  }

  .mobile-menu-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
  }

  .mobile-menu-main {
    width: 320px;
    height: 100%;
    background-color: $white;
    position: fixed;
    top: 0;
    right: -320px; 
    z-index: 999;
    overflow-y: scroll;
    transition-duration: .3s;

    .close-m-menu {
      i {
        width: 40px;
        height: 40px;
        background-color: $black;
        text-align: center;
        line-height: 40px;
        color: $white;
        font-size: 20px;
        cursor: pointer;
        transition: all linear .2s;

        &:hover {
          background-color: $primary;
        }
      }
    }

    .menu-body {
      padding: 20px;

      .action {
        padding-top: 20px;
        padding-bottom: 30px;

        ul {
          li {
            width: 50px;
            height: 50px;
            background-color: $white;
            text-align: center;
            line-height: 50px;
            border-radius: 50%;
            box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1) !important;
            color: $black;
            font-size: 18px;
            transition: all linear .2s;
            cursor: pointer;
            position: relative;
            margin-right: 24px;

            sup {
              width: 25px;
              height: 25px;
              background-color: $primary;
              border-radius: 50%;
              text-align: center;
              line-height: 25px;
              display: inline-block;
              color: $white;
              position: absolute;
              top: -4px;
              font-size: 12px;
              font-weight: 600;
            }

            a {
              color: $black;
            }
          }
        }
      }

      .search {
        input {
          width: 100%;
          height: 45px;
          background-color: transparent;
          border: 1px solid #cccccc;
          border-radius: 3px;
          padding: 0 50px 0 20px;
          transition: all linear .2s;

          &:focus {
            border-color: $primary;
          }
        }

        button {
          top: 50%;
          right: 20px;
          transform: translateY(-50%);
          background-color: transparent;
          border: 0;
          font-size: 18px;
        }
      }

      .menu-list {
        padding-top: 10px;

        ul {
          li {
            a {
              font-size: 15px;
              font-weight: 400;
              color: #232F3E;
              border-top: 1px solid #f2f2f2;
              width: 100%;
              line-height: 40px;
              transition: all linear .2s;

              &:hover {
                color: $primary;
              }

              i {
                width: 40px;
                height: 40px;
                background-color: $white;
                text-align: center;
                line-height: 40px;
                transition: all linear .2s;
              }

              &:hover {
                i {
                  background-color: $primary;
                  color: $white;
                }
              }
            }

            ul {
              padding-left: 20px;
              display: none;
            }
          }
        }
      }
    }
  }
}

.mobile-menu-overlay {
  transition-duration: .3s;
  visibility: hidden;
  opacity: 0;
}

.show-mobile-menu-overlay {
  visibility: visible;
  opacity: 1;
}

.show-mobile-menu {
  right: 0 !important;
}

.mobile-sticky-top {
  padding: 10px 0 !important;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}