@import "../variable/variable";
@import "../mixin/font";
@import "../mixin/line-limit";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

p {
  @include font(16px, 400);
  line-height: 26px;
}

a h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black;
}

span,
small {
  display: inline-block;
}

a {
  display: inline-block;
  text-decoration: none;
}

a:hover {
  text-decoration: none;                        
}

ul,
ol {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  @include font(16px, 400);
  color: $black;
  font-family: 'Roboto Condensed', sans-serif;
  // background-color: $body;
}

::selection {
  background-color: $primary;
  color: $white;
}

.common_title {
  margin-bottom: 24px;
  @include font(30px, 600);
}

// line limit start
.line-limit-1 {
  @include line_limit(1 !important);
}

.line-limit-2 {
  @include line_limit(2 !important);
}

.line-limit-3 {
  @include line_limit(3 !important);
}

.line-limit-4 {
  @include line_limit(4 !important);
}

.line-limit-6 {
  @include line_limit(6 !important);
}

.line-limit-7 {
  @include line_limit(7 !important);
}

.line-limit-8 {
  @include line_limit(8 !important);
}

.line-limit-9 {
  @include line_limit(9 !important);
}

.line-limit-10 {
  @include line_limit(10 !important);
}